<%- include("header") %> 

    <div class="box" id="heading">
        <h1><%= pageTitle %></h1>
    </div>
    <div class="box">
        <% for (let i=0; i<listItems.length; i++ ){  %>
            <div class="item">
                <input type="checkbox">
                <p><%= listItems[i] %> </>
            </div>
        <% };  %>
    <form class="item" action="/" method="post">
        <input type="text" name="newItem" autocomplete="off" placeholder="New Item">
        <button type="submit" name="btn" value="<%= pageTitle %>">+</button>
    </form>
    </div>

<%- include("footer") %> 